@use 'variables' as *;
@use 'placeholders';

.favorite {
  margin-top: 100px;
}

.favorite__title {
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.slider {
  max-width: 480px;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 620px) {
    max-width: 340px;
  }
}

.slider__line {
  display: flex;
  width: 2400px;

  @media screen and (max-width: 620px) {
    width: 1700px;
  }
}

.slider__card {
  @extend %flex-column;
  align-items: center;
  max-width: 480px;
  gap: 16px;

  @media screen and (max-width: 620px) {
    max-width: 340px;
  }
}

.card__img {
  width: 100%;
}

.card__description {
  text-align: center;
}

.card__price {
  @extend %text-h4;
}

.slider__btn-next,
.slider__btn-prev {

  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: all .5s;
}

.slider__controls {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.control-wrapper {
  width: 40px;
  height: 4px;
  background-color: $color-border-light;
  border-radius: 100px;
}

.control {
  width: 0;
  height: 4px;
  background-color: $color-border-dark;
  border-radius: 100px;
}

.slider__btn-next:hover,
.slider__btn-prev:hover {
  background-color: $color-bg-container;
}

.slider__btn-next:hover .slider__svg path,
.slider__btn-prev:hover .slider__svg path {
  stroke: $color-text-light;
}