@use 'variables' as *;
@use 'header';
@use 'enjoy-section';
@use 'favorite';
@use 'about';
@use 'mobile';
@use 'footer';
@use 'menu';
@use 'modal';
@import '../../node_modules/normalize.css/normalize.css';


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff') format('woff'),
    url('../fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}


html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Intel", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: $color-text-dark;
  background-color: $color-bg-body;
  padding-bottom: 40px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 15px 40px 0 40px;

  @media screen and (max-width: 690px) {
    padding: 16px;
  }
}

.button {
  color: $color-text-dark;
  @extend %text-link-and-button;
  cursor: pointer;
}

h2 {
  @extend %title-enjoy;
}

h3 {
  @extend %text-h3;

  @media screen and (max-width: 690px) {
    font-size: 3.2rem;
  }
}

h4 {
  @extend %text-h4;
}

.scroll-hidden {
  height: 100dvh;
  overflow: hidden;
}

.input {
  display: none;
}

.label {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 7px 16px 7px 8px;
  border-radius: 100px;
  border: 1px solid $color-border-light;
  font-weight: 600;
  transition: all .5s;

  &:hover {
    background-color: $color-border-dark;
    color: $color-border-light;
    border-color: transparent;

    & .label-circle {
      background-color: $color-bg-body;
      color: $color-text-dark;
    }
  }
}

.label-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: $color-border-light;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}